.activityList {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.cards {
    flex: 1 1 25%;
    background-color: var(--DarkBlue);
    border-radius: 1rem;
    position: relative;
    /* padding: 1rem; */
}

.img {
    position: relative;
    bottom: 10px;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.card-content {
    background-color: var(--DarkBlue);
    border-radius: 1rem;
    position: absolute;
    top: 2rem;
    width: 100%;
    height: 87%;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content:hover {
    background-color: var(--DesaturatedBlue);
    cursor: pointer;
    color: #fff;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1rem; */
}

.head h1 {
    color: #fff;
    margin: 0;
}

.ellipsis:hover {
    cursor: pointer;
    fill: #fff;
}

.current {
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0;
}

.previous {
    display: flex;
    justify-content: space-between;
}

.previous p {
    margin: 0;
}