.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VeryDarkBlue);
}

.container__content {
  color: var(--PaleBlue);
  width: 80%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  gap:  1rem;
  /* background-color: var(--backgroundColor); */
}

.container_content-user {
  flex: 25%;
  background-color: var(--DarkBlue);
  border-radius: 1rem;
}

.user-head {
  height: 70%;
  background-color: var(--blue);
  border-radius: 1rem;
  padding: 2rem 1rem;
}

.user-timeline {
  padding: 1rem 1rem;
}

.timeline {
  margin : 0.5rem;
  text-transform: capitalize;
}

.timeline:hover {
  color: #fff;
  cursor: pointer;
}

.profile {
  width: 6rem;
  border: 3px solid white;
  border-radius: 50%;
}

.profile-name {
  font-weight: 400;
  color: #fff;
  font-size: 2.5rem;
  margin-top: 1rem;

}

.container_content-activity {
  flex: 80%;
}

.activity-list {
  list-style: none;
}


@media only screen and (max-width: 600px) {
  .container {
    height: 120%; 
  }

  .container__content {
      width: 90%;
      flex-direction: column;
  }

  .user-head {
    display: flex;
    height: auto;
    gap: 1rem;
    /* justify-content: space-between; */
    align-items: center;
  }

  .profile {
    height: 5rem;
    width:5rem;
  }

  .report {
    margin: 0
  }

  .profile-name {
    font-size: 1.5rem;
    margin: 0;
    line-height: 2rem;
  }

  .user-timeline {
    display: flex;
    justify-content: space-between;
  };
}